@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
/* Color Scheme */
:root {
    --off-white: rgb(192, 192, 192);
    --light-blue: rgb(76, 170, 247);
    --med-blue: rgb(63,76,171);
    --turquoise: rgb(33,179,220);
    --opaque-black: rgba(0, 0, 0, 0.548);
    --opaque-purple: rgba(106, 71, 185, 0.5);
    --gray: rgb(35, 44, 63);
}

/******************************************************************** General Styling **************************************************************************************/
html {
    min-height: 100vh;
}

body, ul, li, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100vh; /* trying to fix url jump*/ 
    font-family: 'Ubuntu';
}

p {
    font-size: calc(0.75em + 1vmin);   
}

p a {
    text-decoration: none;
    color: var(--light-blue);
    transition: color 0.3s ease;
}

p a:hover {
    color:var(--med-blue)
}

p img {
    max-width: 50%;
    float: right;
}

.image-body {
    background-size: cover;
    height: 100%;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.space-body {
    background-image: url(../img/art_portfolio/digital/webpage-dark-clouds.png)
}

.central-box {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 70%;
    flex-direction: column;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-break: keep-all;
    font-family: 'Ubuntu';
    max-width: 75%;
    margin:auto;
    background-color: var(--opaque-black);
    color: var(--off-white);
    border-radius: 6px;/*
    border-color: var(--opaque-purple);
    border-style: solid;
    border-width: 3px;*/
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 3%;
}

/*modifier for central box*/
.transparent {
    background-color: transparent;
    border-style:none;
}

.central-box p {
    font-family: 'Poppins';
}

.inner-wrap {
    float: left;
    width: 100%;
}

.img-wrap {
    width: 100%;
    padding: 20px;
}

@media (min-width:1200px) {
    .inner-wrap {
        width: 50%;
    }
}

.art-box {
    text-align: center;
}

.art-box h2 {
    margin-bottom: 2%;
}

/******************************************************************** Page Title **************************************************************************************/
.page-title {
    text-align: left;
    font-family: 'Ubuntu';
    font-size: calc(2.0em + 1.0vmin);
    font-weight: 500;
    color: var(--off-white);
    margin-top: 25px;
    padding-left: 20%;
}

.page-title span {
   color: var(--turquoise);
}

/******************************************************************** Page Subtitle **************************************************************************************/
.page-sub-title {
    text-align: left;
    font-family: 'Ubuntu';
    font-size: calc(1.0em + 0.5vmin);
    font-weight: 400;
    color: var(--off-white);
    padding-left: 20%;
}

.page-sub-title a {
    color: var(--turquoise);
    text-decoration: none;
    transition: color 0.3s ease;
}

.page-sub-title a span {
    color: var(--off-white);
    transition: color 0.3s ease;
}

.page-sub-title a:hover {
    color: var(--off-white);
    text-decoration: none;
}

.page-sub-title a:hover span {
    color: var(--turquoise);
    text-decoration: none;
}

/******************************************************************** Hover Border **************************************************************************************/
.hoverable {
    -o-transition:0.3s;
    -ms-transition:0.3s;
    -moz-transition:0.3s;
    -webkit-transition:0.3s;
    transition:0.3s;
}

.hoverable:hover {
    -webkit-box-shadow:inset 0px 0px 0px 10px var(--opaque-purple);
    -moz-box-shadow:inset 0px 0px 0px 10px var(--opaque-purple);
    box-shadow:inset 0px 0px 0px 10px var(--opaque-purple);
}

/******************************************************************** List Formatting **************************************************************************************/
div.list-box ul {
    font-size: calc(0.65em + 1vmin);   
}

div.list-box ul {
    list-style-type:square;
}

div.list-box ul li {
    font-family: 'Poppins';
    margin: 10px 0;
}

div.list-box ul li a {
    color:var(--off-white);
    text-decoration: none;
    transition: color 0.3s ease;
}

div.list-box ul li a:hover {
    color: var(--turquoise)
}

/******************************************************************** Custom Cards **************************************************************************************/

.bg-gray {
    background-color: var(--gray)!important;
}

/******************************************************************** Nav Bar **************************************************************************************/
.navbar {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--off-white);
}

.logo {
    font-size: calc(1.5em + 1.5vmin);
    font-family: 'Ubuntu' sans-serif;
    margin: 0.5rem 1.5rem;
}

.logo a {
    text-decoration: none;
    color: var(--off-white);
    font-weight: 600;
    transition: color 0.3s ease;
}

.logo a span {
    color: var(--turquoise);
    transition: color 0.3s ease;
}

.logo a:hover {
    text-decoration: none;
    color: var(--turquoise);
}

.logo a:hover span {
    text-decoration: none;
    color: var(--off-white);
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--off-white);
    padding: 1rem;
    display: block;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: var(--turquoise);
}

.navbar-links li a.active {
    color: var(--turquoise);
}

.toggle-button {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background: var(--off-white);
    border-radius: 3px;
    transform-origin: 3px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.toggle-button .bar { /*middle*/
    transform-origin: 0% 0%;
}

.toggle-button .bar:nth-last-child(1) { /*middle*/
    transform-origin: 0% 100%;
}

.toggle-button .bar.active { /*middle*/
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
}

.toggle-button .bar.active:nth-last-child(2) { /*top?*/
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.toggle-button .bar.active:nth-last-child(1) { /*bottom*/
    transform: rotate(-45deg) translate(0, -1px);
}

/* nav bar for smaller screen sizes */
@media (max-width: 770px) {
    .toggle-button {
        display: flex;
    }

    .logo a{
        color: var(--turquoise);
    }

    .logo a span {
        color: var(--off-white);
    }

    .navbar-links {
       display: none;
       width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background: black;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        transition: color 0.3s ease;
        color: var(--turquoise);
    }

    .navbar-links li a:hover {
        color: var(--med-blue);
    }

    .navbar-links.active {
        display: flex;
        position: absolute;
        background: black;
        margin-top: 50px;
        transition: 0.3s;
    }
}

/**/
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background:var(--light-blue);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}