/* Color Scheme */
:root {
    --page-background: rgb(29, 38, 59);
    --standard-text: rgb(192, 192, 192);
    --link-hover: rgb(76, 170, 247);
    --nav-color: rgb(0, 0, 0);
    --nav-hover: rgb(56, 56, 56);
    --nav-active: rgb(78, 106, 138);
    --nav-active-text: rgb(255, 255, 255);
    --box-color: rgba(0, 0, 0, 0.685);
    --gallery-highlight: rgba(78, 106, 138, 0.5);
    
}

/* General Styling */
html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--page-background)
}

body, ul, li, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    text-align: center;
    margin: 2%;
    padding: 2%;
    color: var(--standard-text);
    font-size: 30pt;
}

h2 {
    text-align: left;
    margin: 2% 10%;
    color: var(--standard-text);
    font-size: 20pt;
}

/* Navigation Menu*/
nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--nav-color);
}

nav ul li {
    float: left;
    font-weight: bold
}

nav ul li a {
    display: block;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    color: var(--standard-text);;
}

nav ul li a:hover:not(.active) {
    background-color: var(--nav-hover);
}

.active {
    background-color: var(--nav-active);
    color: var(--nav-active-text);
}

/* Image Gallery */
div.gallery {
    display: grid;
    margin: 5% 10% 5% 10%;
    width: 80%;
    height: fit-content;
    background-color: var(--box-color);
}

div.img-holder {
    margin: 10px;
    padding: 10px;
    float: left;
}

div.img-holder:hover {
    -webkit-box-shadow:inset 0px 0px 0px 10px var(--gallery-highlight);
    -moz-box-shadow:inset 0px 0px 0px 10px var(--gallery-highlight);
    box-shadow:inset 0px 0px 0px 10px var(--gallery-highlight);
}

div.gallery img {
    width: 100%;
    height: auto;
    max-width: 650px;
    max-height: 800px;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}

/* List Formating*/
.list-box {
    display: flex;
    margin: 5% 5% 5% 5%;
    width: 80%;
    height: fit-content;
    padding: 40px;
    background-color: var(--box-color);
}

div.list-box ul {
    list-style-type:square;
    text-align: left;
}

div ul li {
    color:var(--standard-text);;
    margin: 10px 0;
}

div ul li a {
    color:var(--standard-text);;
    text-decoration: none;
}

div ul li a:hover {
    color: var(--link-hover)
}