/* Color Scheme */
:root {
    --page-background: rgb(29, 38, 59);
    --standard-text: rgb(192, 192, 192);
    --link-hover: rgb(76, 170, 247);
    --nav-color: rgb(0, 0, 0);
    --nav-hover: rgb(32, 33, 36);
    --nav-active: rgb(84, 54, 133);
    --nav-active-text: rgb(255, 255, 255);
    --box-color: rgba(0,0,0, 0.685);
    --gallery-highlight: rgba(115, 83, 168, 0.5);
}

/* General Styling */
html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, ul, li, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}
/*
h1 {
    text-align: center;
    padding-top: 20px;
    color: var(--standard-text);
    font-size: 30pt;
}
/*
h2 {
    text-align: left;
    margin: 2% 10%;
    color: var(--standard-text);
    font-size: 20pt;
}*/

.image-body {
    background-size: cover;
    height: 100%;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.space-body {
    background-image: url(../img/webpage-dark-clouds.png)
}

.central-box {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 70%;
    flex-direction: column;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-break: break-word;
    width:80%;
    max-width: 70%;
    margin:auto;
    background-color: var(--box-color);
    color: var(--standard-text);
    border-radius: 6px;
    border-color: var(--gallery-highlight);
    border-style: solid;
    border-width: 3px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 2%
}

.title-box {
    text-align: center;
    height: auto;
    max-width: 40%;
    padding: 10px;
}

.art-home-box {
    text-align: center;
    height: auto;
    margin: auto;
}

.art-box {
    text-align: center;
    max-width: 50%;
    height: auto;
    margin: auto;
}

.card {
    margin-top: 20px;
}

/*.embed-responsive .card-img-top {
    object-fit: cover;
}*/

.card:hover {
    -webkit-box-shadow:inset 0px 0px 0px 10px var(--gallery-highlight);
    -moz-box-shadow:inset 0px 0px 0px 10px var(--gallery-highlight);
    box-shadow:inset 0px 0px 0px 10px var(--gallery-highlight);
}

/* List Formating*/
.project-box {
    text-align: left;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

div.list-box ul {
    list-style-type:square;
}

div ul li {
    color:var(--standard-text);;
    margin: 10px 0;
}

div ul li a {
    color:var(--standard-text);;
    text-decoration: none;
}

div ul li a:hover {
    color: var(--link-hover)
}

/* Navigation Menu*/
div#nav-bar {
    padding: 0;
    margin: 0;
}

#menu, #menu ul {
    margin: 0;
    margin: 0;
    list-style: none;
}

#menu {
    width: 100%;
    margin: 0px;
    background-color: var(--nav-color);
}

#menu::before,
#menu::after {
    content: '';
    display: table;
}

#menu::after {
    clear: both;
}

#menu li {
    margin: 0;
    font-size: 100%;
    float:left;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 40px;
    text-decoration: none;
    color:var(--standard-text);
    white-space: pre-wrap;
}

.active {
    background-color: var(--nav-active);
    color: var(--nav-active-text);
}

#menu a.active {
    color: var(--nav-active-text)
}

#menu li:hover > a:hover:not(.active)  {
    color:var(--standard-text);
    background-color: var(--nav-hover);
}

#menu li:hover > a:hover.active {
    color:var(--nav-active-text);
}

#menu ul {
    margin: 20px 0 0 0;
    padding: 0;
    opacity: 0;
    text-align: left;
    visibility: hidden;
    position: absolute;
    top: 47px;
    z-index: 1;
    background-color: var(--nav-color);
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu li ul a {
    padding: 12px;    
}

